.slide-enter {
  opacity: 0;
  transform: scale(0.25);
  transition: all 1000ms ease-in-out;
  &.slide-enter-active {
    transform: scale(1);
    opacity: 1;
  }
}

.slide-exit {
  transition: all 1000ms ease-in-out;
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms ease-in-out;

  &.slide-exit-active {
    opacity: 0;
    transform: scale(4);
  }
}

.home-page {
  border: solid 1px black;
  height: 500px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 2%;
  top: 10vh;
}
