nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: red;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  list-style-type: none;
}

.logo-wrapper .logo {
  height: 8vh;
  width: auto;
}

.logo-wrapper {
  height: 8vh;
  width: fit-content;
  position: relative;
  float: left;
  left: 0;
  margin: 0;
}
